body{
background:#111;
color:white;
font-family:sans-serif;
text-align:center;
}

.card{
background:#1e1e1e;
margin:20px auto;
padding:15px;
max-width:400px;
border-radius:10px;
}

button{
padding:10px;
border:none;
border-radius:6px;
background:#007bff;
color:white;
}
